%ul.navbar.nav.nav-pills.nav-stacked
  %li
    %h4.group-title
      Games
  %li
    %a(href="#")
      %i.fa.fa-fw.fa-folder
      My games
  %li
    %a(href="#")
      %i.fa.fa-fw.fa-folder
      All games
  %li
    %h4.group-title
      Teams
  %li
    %a(href="#")
      %i.fa.fa-fw.fa-folder
      My teams
  %li
    %a(href="#")
      %i.fa.fa-fw.fa-folder
      All Teams
