.headline-summary.inverse.pattern-noise.merge-bottom
  .container
    .row
      .col-sm-8.col-sm-offset-2

        %h1.headline Начни играть уже сегодня
        %h4.summary Раньше организовать игру было не просто. Но теперь есть Urbanity.

.logo-graphicbox.inverse.pattern-noise
  .container
    .row

      .graphicbox.inverse.col-sm-8.col-sm-offset-2
        %h1.logo Urbanity
        %h4.tagline
          %em Начни играть уже сегодня
        %p
          %a.btn(href="#")
            %i.fa.fa-check-square-o
            ~ " Зарегестрируйся"

.staggers.pattern-noise
  .container

    .stagger-graphicbox.row
      .graphicbox.col-sm-4
        %i.fa.fa-envelope
      .description.col-sm-7.col-sm-push-1
        %h3.matching-color Revolutionize email? Why?!
        %p Email is awesome! It doesn't need a redesign. Email just needs to get out of  |
        the way of our work. Postal makes your email work for you, instead of the other  |
        way around. It limits distractions without missing the important stuff

    .stagger-graphicbox.row
      .graphicbox.col-sm-4.col-sm-push-8
        %i.fa.fa-clock-o
      .description.col-sm-7.col-sm-pull-4
        %h3.matching-color Cut your time spent in email
        %p Instead of imagining all kinds of cool features that make email fancy, but    |
        that actually make it more laborious, Postal works hard so you spend less time   |
        using email. Postal is successful if you don't notice it working.

    .stagger-graphicbox.row
      .graphicbox.col-sm-4
        %i.fa.fa-envelope"
      .description.col-sm-7.col-sm-push-1
        %h3.matching-color Revolutionize email? Why?!
        %p Email is awesome! It doesn't need a redesign. Email just needs to get out of  |
        the way of our work. Postal makes your email work for you, instead of the other  |
        way around. It limits distractions without missing the important stuff

.list-spread-narrow
  .container
    .row

      .panel1.col-sm-4.col-sm-offset-1
        %h4.matching-color Urbanity does everything.
        %ul
          %li
            %strong
              Easy
            email account setup
          %li
            Automagical
            %strong
              tagging and archiving
          %li
            Intelligent
            %em
              filtering algorithms

      .panel2.col-sm-4.col-sm-offset-2
        %h4.matching-color Email that works for you.
        %ul
          %li
            %strong
              Easy
            email account setup
          %li
            Automagical
            %strong
              tagging and archiving
          %li
            Intelligent
            %em
              filtering algorithms

.banner-action.inverse-major.pattern-noise
  .container

    %h3
      Не думай - регестрируйся прямо сейчас
    %a.btn(href="#")
      Зарегестрироваться


.footer-simple.inverse.pattern-noise
  .container

    %h2.logo.logo-small
      Urbanity
    %p.legal
      \© 2014 Urbanity
      %a(href="https://github.com/Vaysman/urbanity") Urbanity
