.headline-summary.inverse.pattern-noise.merge-bottom
  .container
    .row
      .col-sm-8.col-sm-offset-2

        %h1.headline Начни игру
        %h4.summary Раньше организовать игру было не просто.
        %h4.summary Но теперь есть Urbanity.

.logo-graphicbox.inverse.pattern-noise
  .container
    .row

      .graphicbox.inverse.col-sm-8.col-sm-offset-2
        %h1.logo Urbanity
        %h4.tagline
          %em Начни играть уже сегодня
        %p
          %a.btn(href="#{new_user_registration_path}")
            %i.fa.fa-check-square-o
            ~ " Зарегестроваться"
          %a.btn(href="#{new_user_session_path}")
            %i.fa.fa-sign-in
            ~ " Войти"



.staggers.pattern-noise
  .container

    .stagger-graphicbox.row
      .graphicbox.col-sm-4
        %i.fa.fa-users
      .description.col-sm-7.col-sm-push-1
        %h3.matching-color Команда? Это просто!
        %p Организовать свою команду теперь очень просто!
        Не хотите организовывать? Присединяйтесь к другой команде и станьте лучшим!

    .stagger-graphicbox.row
      .graphicbox.col-sm-4.col-sm-push-8
        %i.fa.fa-calendar
      .description.col-sm-7.col-sm-pull-4
        %h3.matching-color Запланировать игру
        %p Планируйте ваши игры. Планируйте участи в играх организованных другими!

    .stagger-graphicbox.row
      .graphicbox.col-sm-4
        %i.fa.fa-bar-chart-o
      .description.col-sm-7.col-sm-push-1
        %h3.matching-color Статистика
        %p Узнайте все о командах и игроках!

.list-spread-narrow
  .container
    .row
      .panel1.col-sm-4.col-sm-offset-1
        %h4.matching-color Urbanity помогает
        %ul
          %li
            %strong
              Легко
            зарегестрироваться
          %li
            Легко
            %strong
              создать и управлять игрой

      .panel2.col-sm-4.col-sm-offset-2
        %h4.matching-color Urbanity освобождает
        %ul
          %li
            %strong
              Автоматическая
            рассылка напоминаний
          %li
            Полностью
            %strong
              открытый исходный код

.banner-action.inverse-major.pattern-noise
  .container
    %h3 Остался один шаг
    %a.btn(href="#{new_user_registration_path}")
      Зарегестрироваться


.footer-simple.inverse.pattern-noise
  .container

    %h2.logo.logo-small
      Urbanity
    %p.legal
      \© 2014 Mikhail Vaysman
      %a(href="https://github.com/Vaysman/urbanity") Urbanity
