- content_for :title do
  Game

%h2= game.name

%p
  %strong Start:
  = game.start

%p
  %strong Registration end:
  = game.registration_end

= link_to 'Edit', edit_game_path(game), class: "btn btn-default"
